# Dependências e logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Build da aplicação
dist/
dist-ssr/
build/

# Arquivos de ambiente
.env
.env.local

# Arquivos de banco de dados e sistema
*.sqlite
.DS_Store

# Editor de código
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?